@model ExcellentMarketResearch.Areas.Admin.Models.ViewModel.UserRoleVM
@{
    ViewBag.Title = "UserRoelEdit";
    var Roles = new ExcellentMarketResearch.Areas.Admin.Models.DAL.UserRoleRepository().GetRoles();
}

<h2>UserRoleCreate</h2>

<style>
    .mylabel {
        width: 5%;
        text-align: right;
        padding: 10px;
    }

    .divmargin {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .labelalign {
        text-align: right;
        margin-top: 10px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.UserId)
    @Html.HiddenFor(model=>model.CreatedBy)
    @Html.HiddenFor(model=>model.CreatedDate)
    <div class="container">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label">First Name<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.UserFName, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.UserFName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Last Name<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.UserLName, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.UserLName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Email-ID<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.EmailId)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Password<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.PWD, new { @class = "form-control divmargin password" })
                    @Html.ValidationMessageFor(model => model.PWD)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Mobile Number<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.MobileNumber)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Gender<span>*</span></label>
                </div>
                <div class="col-sm-7 divmargin">
                    @Html.RadioButtonFor(model => model.Gender, "Male") Male 
                    @Html.RadioButtonFor(model => model.Gender, "Female") Female
                      @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Permanent Address<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.PermanentAddress, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.PermanentAddress)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">Current Address<span>*</span></label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.CurrentAddress, new { @class = "form-control divmargin" })
                    @Html.ValidationMessageFor(model => model.CurrentAddress)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3 labelalign">
                    <label class="control-label required">IsActive<span>*</span></label>
                </div>
                <div class="col-sm-7 divmargin">
                    @Html.CheckBoxFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
        </div>
        <div class="col-sm-3 labelalign">
            <label class="control-label"> Select User Roles</label>
        </div>
       
        @foreach (var item in Roles)
        {  
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3 labelalign">
                        <label class="control-label">@item.RoleName</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="checkbox" name="Roles" value="@item.RoleId" @(Model.RoleId.Contains(item.RoleId)?"checked":"")/>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3 labelalign">
                        <input type="submit" class=" btn btn-primary" />
                    </div>
                </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "UserRoleIndex")
</div>

