<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="description" content="Excellent Market Research is a highly reputed market research and consumer consulting organization. Excellent Market Research is a most leading market research company who offers various market industries reports." />
    <meta content='IE=Edge;chrome=35+' https-equiv='X-UA-Compatible' />

    <title>Excellent Market Research - Industrial Market Research Reports</title>
    <meta name="keywords" content="Excellent Market Research, EMR, ExcellentMarketResearch, Excellent Market Research Pune, excellent market research, Market Research Reports, Market size, Forecast, Trends, Industry Analysis, Market Research Trends, Volume, Value Trade, EMR, Excellent Market Research, Revenue" />
    <meta name="language" content="English" />
    <meta name="copyright" content="Excellent Market Research" />
    <meta name="classification" content="market research reports" />
    <meta name="document-classification" content="Market Research Services" />
    <meta name="distribution" content="global" />
    <meta name="coverage" content="worldwide" />
    <meta name="rating" content="general" />
    <meta name="abstract" content="market research reports, market research, industry analysis, reports, services" />
    <meta name="author" content="ExcellentMarketResearch,https://www.excellentmarketresearch.com/" />
    <meta name="document-type" content="Public" />
    <meta name="Page-Topic" content="Market Research" />
    <meta name="Audience" content="All, Business, Research, Services" />
    <link rel="canonical" href="https://www.excellentmarketresearch.com" />
    <base href="https://www.excellentmarketresearch.com/" />
    <meta name="robots" content="NOODP" />


    <!-- Web Fonts -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125789533-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125789533-1');
    </script>

    <script type="text/javascript">
        //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "Excellent Market Research",
        "description" : "Excellent Market Research is a highly reputed market research and consumer consulting organization. Excellent Market Research is a most leading market research company who offers various market industries reports.",
        "image" : "https://www.excellentmarketresearch.com/img/logo.png",
        "alternateName" : "EMR",
        "telephone" : "+1-312-588-9716",
        "email" : " sales@excellentmarketresearch.com",
        "address" : {
        "@@type" : "PostalAddress",
        "streetAddress" : "444 E Lake Street, Suite 1700",
        "addressLocality" : "Chicago",
        "addressRegion" : "IL",
        "addressCountry" : "USA",
        "postalCode" : "60606"
        },
        "url" : "https://www.excellentmarketresearch.com/",
        "sameAs" : [
        "https://www.facebook.com/excellentmarketresearch",
        "https://twitter.com/ExcellentMarke2",
        "https://www.linkedin.com/in/excellent-market-research-a8a095170/",
        "https://plus.google.com/u/1/103933286677678493455"
        ]
        }
    </script>
    <!-- End Alexa Certify Javascript -->
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "WebSite",
        "url": "https://www.excellentmarketresearch.com/",
        "potentialAction": {
        "@@type": "SearchAction",
        "target": "https://www.excellentmarketresearch.com/report/search-report?searchkey={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        }
    </script>
    <script type="application/ld+json">
        {
        "@@context" : "https://schema.org",
        "@@type" : "WebSite",
        "name" : "Excellent Market Research",
        "alternateName" : "EMR",
        "url" : "https://www.excellentmarketresearch.com"
        }
    </script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.3.2.6.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Flaticon CSS -->
    <link href="@Url.Content("~/fonts/flaticon/flaticon.css")" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="@Url.Content("~/css/hippo-off-canvas.css")" rel="stylesheet">
    <!-- animate CSS -->
    <link href="@Url.Content("~/css/animate.css")" rel="stylesheet">
    <!-- language CSS -->
    <link href="@Url.Content("~/css/language-select.css")" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="@Url.Content("~/owl.carousel/assets/owl.carousel.css")" rel="stylesheet">
    <!-- magnific-popup -->
    <link href="@Url.Content("~/css/magnific-popup.css")" rel="stylesheet">
    <!-- Main menu -->
    <link href="@Url.Content("~/css/menu.css")" rel="stylesheet">
    <!-- Template Common Styles -->
    <link href="@Url.Content("~/css/template.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet">

    <script src="@Url.Content("~/js/vendor/modernizr-2.8.1.min.js")"></script>
    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9] >
        <script src="js/vendor/html5shim.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ReportId").keypress(function (e) {
                if (jQuery(this).val().length < 1) {
                    if (e.which == 32) {
                        //alert(e.which);
                        return false;
                    }
                }
                else {
                    if (e.which == 32) {
                        if (i != 0) {
                            return false;
                        }
                        i++;
                    }
                    else {
                        i = 0;
                    }
                }
            });
        });
    </script>
</head>


<body id="page-top">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <header class="header">
                    <nav class="top-bar">
                        <div class="overlay-bg">
                            <div class="container">
                                <div class="row">

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="call-to-action">
                                            <ul class="list-inline">
                                                <li><a href="#"><i class="fa fa-phone"></i>+1-312-588-9716</a></li>
                                                <li><a href="#"><i class="fa fa-envelope"></i>sales@excellentmarketresearch.com</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.call-to-action -->
                                    </div>
                                    <!-- /.col-sm-6 -->

                                    <div class="col-sm-6 socialicons">
                                        <div class="topbar-right">
                                            <div class="lang-support pull-right" style="display: none;">
                                                <select class="cs-select cs-skin-elastic">
                                                    <option value="" disabled selected>Language</option>
                                                    <option value="united-kingdom" data-class="flag-uk">English</option>
                                                    <option value="france" data-class="flag-france">French</option>
                                                    <option value="spain" data-class="flag-spain">Spanish</option>
                                                    <option value="south-africa" data-class="flag-bd">Bengali</option>
                                                </select>
                                            </div>

                                            <ul class="social-links list-inline pull-right">
                                                <li><a href="https://www.facebook.com/excellentmarketresearch" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/ExcellentMarke2" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/excellent-market-research-a8a095170/"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="https://plus.google.com/u/1/103933286677678493455"><i class="fa fa-google-plus"></i></a></li>

                                            </ul>
                                        </div>
                                        <!-- /.social-links -->
                                    </div>
                                    <!-- /.col-sm-6 -->

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container -->
                        </div>
                        <!-- /.overlay-bg -->
                    </nav>
                    <!-- /.top-bar -->

                    <div id="search" style="display: none;">
                        <button type="button" class="close">×</button>
                        <form>
                            <input type="search" value="" placeholder="type keyword(s) here" />
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>

                    <nav class="navbar navbar-default" role="navigation">

                        <div class="container mainnav">
                            <div class="navbar-header">
                                <h1 class="logo">
                                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                                        <img src="@Url.Content("~/img/logo.png")" alt="Excellent Market Research">
                                    </a>
                                </h1>

                                <!-- offcanvas-trigger -->
                                <button type="button" class="navbar-toggle collapsed pull-right">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars"></i>
                                </button>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-collapse">

                                <span class="search-button pull-right" style="display: none;"><a href="#search"><i class="fa fa-search"></i></a></span>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="@(ViewBag.activemenu == "Home" ? "active" : "")"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li class="@(ViewBag.activemenu == "About" ? "active" : "")"><a href="@Url.Action("About", "Home")">About Us</a></li>
                                    <li class="@(ViewBag.activemenu == "Report" ? "active" : "")"><a href="@Url.Action("AllReports", "Report")">Reports</a></li>
                                    <li class="@(ViewBag.activemenu == "News" ? "active" : "")"><a href="@Url.Action("AllNews", "News")">News</a></li>
                                    <li class="@(ViewBag.activemenu == "Contact" ? "active" : "")"><a href="@Url.Action("Index", "ContactUs")">Contact</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container -->


                    </nav>
                </header>

                @RenderBody()

                <!-- footer-widget-section start -->
                <section class="footer-widget-section section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1 col-sm-4">
                                <div class="footer-widget">
                                    <h3>Place &amp; Contact</h3>

                                    <address>
                                        444 E Lake Street,<br>
                                        Suite 1700, Chicago,<br>
                                        IL 60606 USA.<br />
                                        <!-- Google Map Modal Trigger -->
                                        <button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">Location  Map</button>

                                        <span class="tel"><i class="fa fa-phone"></i>  +1(312) 588-9716</span>

                                    </address>


                                    <!-- Modal -->
                                    <div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Our Location</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <div id="googleMap"></div>

                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- End Modal -->
                                </div>
                                <!-- /.footer-widget -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-3 col-sm-4">
                                <div class="footer-widget">
                                    <h3>About EMR</h3>

                                    <ul>
                                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                                        <li><a href="@Url.Action("MainCategories", "Category")">Categories</a></li>
                                        <li><a href="@Url.Action("Faqs", "Home")">FAQ Page</a></li>
                                        <li><a href="@Url.Action("TermsAndCondition", "Home")">Terms &amp; Conditions</a></li>
                                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    </ul>
                                </div>
                                <!-- /.footer-widget -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-5 col-sm-5">
                                <div class="footer-widget">
                                    <div class="verify-img">
                                        @*<img src="@Url.Content("~/img/paypal.png")"/>*@
                                        <img src="@Url.Content("~/img/paypal-verified.png")" style="float:left;" />
                                        <script language="JavaScript" type="text/javascript">
                                            TrustLogo("https://www.excellentmarketresearch.com/comodo_secure_seal_113x59_transp.png", "CL1", "none");
                                        </script>
                                        <a href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
                                        @*<img src="@Url.Content("~/img/sslverified.png")" />*@
                                    </div>
                                </div>
                                <!-- /.footer-widget -->
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- /.cta-section -->
                <!-- footer-widget-section end -->
                <!-- copyright-section start -->
                <footer class="copyright-section">
                    <div class="container text-center">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="@Url.Action("#", "")">Privacy &amp; Cookies</a></li>
                                <li><a href="@Url.Action("TermsAndCondition", "Home")">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>

                        <div class="copyright-info">
                            <span>Copyright © 2018 Excellent Market Research. All Rights Reserved. Designed by <a href="https://www.idealbies.com" target="_blank">idealbies.com</a></span>
                        </div>
                    </div>
                    <!-- /.container -->
                </footer>
                <!-- copyright-section end -->
            </div>
            <!-- .st-content -->
        </div>
        <!-- .st-pusher -->
        <!-- OFF CANVAS MENU -->
        <div class="offcanvas-menu offcanvas-effect" style="display:none;">
            <div class="offcanvas-wrap">
                <div class="off-canvas-header">
                    <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="off-canvas-close-btn">&times;</button>
                </div>
                <ul id="offcanvasMenu" class="list-unstyled visible-xs visible-sm">
                    <li class="@(ViewBag.activemenu == "Home" ? "active" : "")"><a href="@Url.Action("Index", "Home")">Home<span class="sr-only">(current)</span></a></li>
                    <li class="@(ViewBag.activemenu == "About" ? "active" : "")"><a href="@Url.Action("About", "Home")">About Us</a></li>
                    <li class="@(ViewBag.activemenu == "Report" ? "active" : "")"><a href="@Url.Action("AllReports", "Report")">Reports</a></li>
                    <li class="@(ViewBag.activemenu == "News" ? "active" : "")"><a href="@Url.Action("AllNews", "News")">News</a></li>
                    <li class="@(ViewBag.activemenu == "Contact" ? "active" : "")"><a href="@Url.Action("Index", "ContactUs")">Contact</a></li>
                </ul>
                <div class="offcanvas-widgets hidden-sm hidden-xs">
                    <div id="twitterWidget">
                        <h2>Tweeter feed</h2>
                        <div class="twitter-widget"></div>
                    </div>
                    <div class="newsletter-widget">
                        <h2>Stay in Touch</h2>
                        <p>Enter your email address to receive news &amp; offers from us</p>

                        <form class="newsletter-form">
                            <div class="form-group">
                                <label class="sr-only" for="InputEmail1">Email address</label>
                                <input type="email" class="form-control" id="InputEmail2" placeholder="Your email address">
                                <button type="submit" class="btn">Send &nbsp;<i class="fa fa-angle-right"></i></button>
                            </div>
                        </form>

                    </div>
                    <!-- newsletter-widget -->
                </div>
            </div>
        </div>
        <!-- .offcanvas-menu -->
    </div>
    <!-- /st-container -->
    <!-- Preloader -->
    <!--<div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>-->
    <!-- jQuery -->
    <!-- jQuery -->
    <script src="@Url.Content("~/js/jquery.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <!-- owl.carousel -->
    <script src="@Url.Content("~/owl.carousel/owl.carousel.min.js")"></script>
    <!-- Magnific-popup -->
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <!-- Offcanvas Menu -->
    <script src="@Url.Content("~/js/hippo-offcanvas.js")"></script>
    <!-- inview -->
    <script src="@Url.Content("~/js/jquery.inview.min.js")"></script>
    <!-- stellar -->
    <script src="@Url.Content("~/js/jquery.stellar.js")"></script>
    <!-- countTo -->
    <script src="@Url.Content("~/js/jquery.countTo.js")"></script>
    <!-- classie -->
    <script src="@Url.Content("~/js/classie.js")"></script>
    <!-- selectFx -->
    <script src="@Url.Content("~/js/selectFx.js")"></script>
    <!-- sticky kit -->
    <script src="@Url.Content("~/js/jquery.sticky-kit.min.js")"></script>
    <!-- GOGLE MAP -->
    @*<script src="https://maps.googleapis.com/maps/api/js"></script>*@
    <!--TWITTER FETCHER-->
    <script src="@Url.Content("~/js/twitterFetcher_min.js")"></script>
    <!-- Custom Script -->
    <script src="@Url.Content("~/js/scripts.js")"></script>

</body>
</html>
