@model IEnumerable<ExcellentMarketResearch.Models.CategoryMaster>
@{
    ViewBag.Title = "Import";
}
@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>
<table>
    <tr>
        <td style="color: red">
            @ViewBag.NullError
        </td>
        <td style="color: red">
            @ViewBag.DatatypeError
        </td>
        <td style="color: red">
            @ViewBag.NotValidColumn
        </td>
        <td style="color: red">
           @ViewBag.DuplicateRecord
        </td>
    </tr>
    @Html.Raw(ViewData["HTMLTable"])
</table>

