@model ExcellentMarketResearch.Models.ViewModel.ReportDetailsVM
@{
    ViewBag.Title = Model.ReportDetails.ReportTitle;

    ViewBag.Description = "";
    ViewBag.Keywords = "";
                //Layout = null;
                        
}
<script>
    //$(document).ready(function () {
    //    $('#sticky').css("display","block");
    //    $(window).scroll(function () {
    //        var distanceFromTop = $(document).scrollTop();
    //        if (distanceFromTop >= 140) {
    //            $('#sticky').fadeIn(400).addClass('fixed');
    //        }
    //        else {
    //            $('#sticky').fadeOut(400).removeClass('fixed');
    //        }
    //    });
    //});
</script>

<script>
    $(document).ready(function () {

        var url = window.location.href;
        // Get the tab to make active from url link.

        var activeTab = url.substring(url.indexOf("#") + 1);
        // Remove old active tab class

        //   $(".tab-pane").removeClass("active in");

        //  Add active class to new tab
        if (url.indexOf("#") > -1) {
            $("#" + activeTab).addClass("active in");
        }
        //  Or directly open tab after getting activeTab.

        $('a[href="#' + activeTab + '"]').tab('show');

        //$('html, body').animate({
        //    scrollTop: $('.titlecolor').offset().top - 50
        //}, 2000);

        //$('html, body').animate({
        //    scrollTop: $('.titlecolor').offset().top - 50
        //}, 2000);


    });

</script>

<input type="hidden" value="@Model.ReportDetails.ReportId" id="RepID" />

<!-- report details finish-->
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Reports</h1>
                        <div class="report-search-section">@{Html.RenderAction("SearchingPartialView", "Home");}</div>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Report Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Single-Service-Start -->
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7 col-xs-12 report-single">
                <div class="col-md-12">
                    <div class="row text-center">
                        <h2 class="title">
                            <span id="">@Model.ReportDetails.ReportTitle</span></h2>
                        <p class="date-info-2">
                            <i class="fa fa-calendar"></i><strong>&nbsp;Published:</strong>
                            <span id="">@Model.ReportDetails.PublishingDate.ToString("MMM-yyyy")</span>
                            | <i class="fa fa-file-pdf-o"></i><strong>&nbsp;Format:</strong>
                            <span id="">PDF</span>
                            |
                <a href="@Url.Action("PublisherRelatedReports", "Report", new { @puburl = Model.ReportDetails.PublishingUrl })">@Model.ReportDetails.PublisherName</a>

                            | <i class="fa fa-file-powerpoint-o"></i><strong>&nbsp;Number of pages:</strong>
                            <span id="">@Model.ReportDetails.NumberOfPage</span>
                        </p>
                        <div id="Sett"></div>
                    </div>
                    <div class="css-tab" role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#reportdetails" aria-controls="secure" role="tab" data-toggle="tab">Report Details</a></li>
                            <li role="presentation"><a href="#tablecontent" aria-controls="trackable" role="tab" data-toggle="tab">Table Of Content</a></li>
                            <li role="presentation"><a href="#inquiry" aria-controls="fast" role="tab" data-toggle="tab">Inquiry For Buying</a></li>
                            <li role="presentation"><a href="#reqsample" aria-controls="reliable" role="tab" data-toggle="tab">Free Sample</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="reportdetails">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @Html.Raw(Model.ReportDetails.FullDescription)
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tablecontent">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @Html.Raw(Model.ReportDetails.TableofContent)
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="inquiry">
                                <div class="css-tab-content">
                                    <div class="row">

                                        <div class="col-md-12 content-text">
                                            @{Html.RenderAction("InquiryForm", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId, @FormType = "InquiryForm" });}
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="reqsample">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @{Html.RenderAction("SampleRequest", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId });}
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                        </div>
                    </div>
                    <!-- /.css-tab -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-5 col-xs-12 report-details">
				<div class="service-sidebar sidebar-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading">Payment Mode</div>
                        <div class="panel-body">
                            @using (Html.BeginForm("CheckoutForm", "ReportBuying", FormMethod.Get))
                            {
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="hidden" name="reportid" value="@Model.ReportDetails.ReportId" />
                                                <input name="buynow" id="PriceSingleUser" value="0" checked="checked" type="radio">Single User Price
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceSingleUser</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="radio" name="buynow" id="PriceMultiUser" value="1">Multi User Price
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceMultiUser</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="radio" name="buynow" id="PriceCUL" value="2">Corporate User Price
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceCUL</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>
                                        <span>
                                            <input type="image" src="~/img/buynowcc-blue.png" class="buyimage">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            }
                        </div>
                      </div>
                    

                    @{Html.RenderAction("PartialCat", "Category");}
                    <!-- /.widget -->
                </div>
                <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Single-Service-End-->

























<!--/.wrapper end -->















