@model ExcellentMarketResearch.Models.ViewModel.ContactUsVM
@{
    //ViewBag.Title = "GetinTouch";
    Layout = null;
}

<script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>

<div>
    @using (Html.BeginForm("Index", "ContactUs", FormMethod.Post, new { @class = "form-horizontal", @id = "ContactUs" }))
    {
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.RealCaptcha, new { @id = "txtCaptcha" })
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="name">Name</label>
        </div>
        <div class="col-md-9 col-sm-12">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Name", @id = "name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="emailid">Email Id</label>
        </div>
        <div class="col-md-9 col-sm-12">
            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @placeholder = "abc@xyz.com", @id = "email" })
            @Html.ValidationMessageFor(model => model.EmailId)
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="areacode">Phone Number</label>
        </div>
        <div class="col-md-9 col-sm-12">
            @*<input name="areacode" type="text" class="form-control areacode" required="" placeholder="+91">*@
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Phone-Number", @id = "phonenumber" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="country">Country</label>
        </div>
        <div class="col-md-9 col-sm-12">
            @Html.DropDownListFor(m => m.Country, from l in new ExcellentMarketResearch.Models.ViewModel.InquiryVM().GetCountries()
            select new SelectListItem
            {
            Text = l.nicename,
            Value = l.nicename
            }, "- Select Country -", new { @Class = "form-control" })

        </div>
    </div>@*
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="designation">Designation</label>
        </div>
        <div class="col-md-9 col-sm-12">
            <input name="designation" type="text" class="form-control" required="" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="company">Company</label>
        </div>
        <div class="col-md-9 col-sm-12">
            <input name="company" type="text" class="form-control" required="" placeholder="">
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="custmsg">Customer Message</label>
        </div>
        <div class="col-md-9 col-sm-12">
            @Html.TextAreaFor(model => model.CustomerMessage, new { @class = "form-control", @placeholder = "How can we help you ? " })
            @Html.ValidationMessageFor(model => model.CustomerMessage)
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            @*<label for="recaptcha">
                <img id="CaptchImg" style="background-color:#01819c" src="@Url.Action(" GetCaptchaImage", "InquiryForm" , new { @EncryText=Model.RealCaptcha })" />
            </label>
                
            </label>*@
            
        </div>
        <div class="col-md-9 col-sm-12">
@*            @Html.TextBoxFor(model => model.CaptchaCode, new { @class = "form-control", @placeholder = "Enter Captcha", @id = "txtInput" })
            @Html.ValidationMessageFor(model => model.CaptchaCode)
            <label id="captchaError"></label>*@
            <div class="g-recaptcha" data-sitekey="6LdU_nUUAAAAAA3JRpz9CyoMobL_rrNDniMknFbM"></div>
        </div>
        @*<p class="help-block">
            <label id="captchaError"></label>
        </p>*@
        @*onClick="ValidateForm(this);*@
    </div>
    <div class="form-group">
        <div class="col-md-3 col-sm-12">
            <label for="custmsg">
                <button type="Submit" id="btnSubmit" class="btn btn-primary">Submit</button>@*
            </label>*@
            @*<button type="submit" onclick="ValidateForm(event);" id="btnSubmit" class="btn btn-warning">Submit</button>*@
            </label>
        </div>

    </div>
    }
</div>

